<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Règle du chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<style>
    body {
        background-color: #f7f7f7;
    }

    .container {
        margin-top: 2rem;
    }

    .left {
        margin-right: 1rem;
    }

    table {
        margin-top: 2rem;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    th {
        background-color: #63f0a7;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.5rem;
    }

    td {
        background-color: #edf2f7;
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    #search-btn {
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    #user-score {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .box {
        height: 90vh;
        /* sets the height of the box to 90% of the viewport height */
        width: 30vw;
        /* sets the width of the box to 90% of the viewport width */
        margin: auto;
        /* centers the box horizontally */
        max-width: 800px;
        /* sets the maximum width of the box */
    }

    tbody {
        overflow-y: scroll;
        max-height: 300px;
    }

    .table-wrapper {
        overflow: auto;
        max-height: 600px;
        /* adjust this value as needed */
        position: relative;
    }

    .table-wrapper thead tr {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }
</style>

<body>
    <nav class="navbar is-large" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://static.vecteezy.com/system/resources/previews/001/205/634/non_2x/owl-png.png">
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Accueil
                </a>
                <a class="navbar-item" href="/rules">
                    Règles et commandes
                </a>
            </div>
            <div class="navbar-item is-hidden-touch">
                <p class="title is-4">Règles et commandes</p>
            </div>
            <div class="navbar-end">
                <% if (authenticated) { %>
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary" href="/modo">
                          <strong>Espace modération</strong>
                        </a>
                      </div>
                    </div>
                    <% } else { %>
                      <div class="navbar-item">
                        <div class="buttons">
                          <a class="button is-primary" href="/login">
                            <strong>Se connecter</strong>
                          </a>
                        </div>
                      </div>
                    <% } %>
            </div>
        </div>
    </nav>
    <section class="hero is-primary is-fullheight">
        <br/>
        <div class="title has-text-centered">
            Règle de base : 1 message = 1 point
        </div>
        <div class="hero-body">
            
            <div class="columns">
                <div class="column">
                    <div class="block">
                        <div class="box has-text-centered is-fullheight">
                            <h1 class="title has-text-primary has-text-centered">Commandes info générales</h1>
                            <div class="table-wrapper">
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Commande</th>
                                            <th>Description</th>
                                            <th>Coût</th>
                                            <th>Gain</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                        <tr>
                                            <td>!help ou !infos</td>
                                            <td>Affiche la liste des commandes</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>


                                        <tr>
                                            <td>!music</td>
                                            <td>Affiche la musique en cours de lecture</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!songrequest nom de la chanson</td>
                                            <td>Met une chanson en liste d'attente</td>
                                            <td>30</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!elo</td>
                                            <td>Donne l'élo de Bibou sur ses comptes</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!twitter</td>
                                            <td>Donne le twitter de Bibou</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!lolpro</td>
                                            <td>Donne le lolpro de Bibou</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!opgg</td>
                                            <td>Donne l'opgg des comptes de Bibou</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!skipsong</td>
                                            <td>Skip la chanson courante</td>
                                            <td>30</td>
                                            <td>0</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="block">
                        <div class="box has-text-centered is-fullheight">
                            <h1 class="title has-text-primary has-text-centered">Commandes liées à LoL</h1>
                            <div class="table-wrapper">
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Commande</th>
                                            <th>Description</th>
                                            <th>Coût</th>
                                            <th>Gain</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">

                                        <tr>
                                            <td>!winrate champion(/champion adverse)</td>
                                            <td>Donne le winrate de Bibou sur un champion ou sur un matchup</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!streak</td>
                                            <td>Donne la win streak de Bibou sur ses comptes</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!game</td>
                                            <td>Donne les joueurs pro dans la game (commande capricieuse)</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!skin nom du champion</td>
                                            <td>Demande un skin pour la prochaine game</td>
                                            <td>30</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!vote numéro du skin</td>
                                            <td>Vote pour le numéro du skin</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!soloq</td>
                                            <td>Donne des infos sur le soloq challenge</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="block">
                        <div class="box has-text-centered is-fullheight">
                            <h1 class="title has-text-primary has-text-centered">Commandes liées au chat
                            </h1>
                            <div class="table-wrapper">
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Commande</th>
                                            <th>Description</th>
                                            <th>Coût</th>
                                            <th>Gain</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">

                                        <tr>
                                            <td>!points</td>
                                            <td>Affiche le nombre de points de chaîne</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!gg (nom)</td>
                                            <td>Félicite une personne (ou Bibou si aucun nom est entré)</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!low (@qqun)</td>
                                            <td>Clash une personne (la personne clashée perd aussi des points)</td>
                                            <td>10</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!guess</td>
                                            <td>Lance un jeu de recherche de champion grâce à des émoji</td>
                                            <td>0</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>!hint</td>
                                            <td>Donne un indice pour le jeu guess</td>
                                            <td>10</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!try champion</td>
                                            <td>Tentative pour le jeu guess </td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!abandon</td>
                                            <td>Donne la réponse et clos le jeu guess</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr>
                                            <td>!love @qqun</td>
                                            <td>Donne de l'amour à une personne</td>
                                            <td>0</td>
                                            <td>Dépend de l'amour</td>
                                        </tr>

                                        <tr>
                                            <td>!gift @qqun montant</td>
                                            <td>Donne des points à une personne</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!onevone</td>
                                            <td>Demande un 1v1 à Bibou</td>
                                            <td>2000</td>
                                            <td>300 (si victoire)</td>
                                        </tr>
                                        <tr>
                                            <td>!reviewopgg</td>
                                            <td>Demande une review opgg à Bibou</td>
                                            <td>150</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!coaching</td>
                                            <td>Demande un coaching à Bibou</td>
                                            <td>3000</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>!bet win/loose montant </td>
                                            <td>Mise le montant sur une victoire ou une défaite</td>
                                            <td>Montant</td>
                                            <td>Dépend de la cote</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>