/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 0;
}

header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a button {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 20px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

#chat {
    flex-basis: calc(33.33% - 20px);
}

#autres, #parametres {
    flex-basis: calc(33.33% - 20px);
}

#chat h2, #autres h2, #parametres h2 {
    margin-top: 0;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

input[type="text"], button, input[type="checkbox"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    background-color: #1c1c1c;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #000;
}

#chat-box {
    max-height: 300px;
    overflow-y: scroll;
}

#chat-box p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px;
    text-align: center;
}



#chat {
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	padding: 20px;
}

#chat h2 {
	margin-top: 0;
}
#connexions p {
	margin: 10px 0;
    width: 100%;
}

#connexions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container span {
  text-align: center;
  margin-bottom: 20px;
}

.button-style {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-style:hover {
  background-color: rgb(77, 255, 166) !important;
}

  