body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }
  
  .left {
    width: 75%;
    margin-right: 20px;
  }
  
  .right {
    width: 25%;
  }
  
  h1 {
    font-size: 36px;
    margin: 0 0 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th,
  tbody td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  thead th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #user-score {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  